# node_module
node_modules
archives
beta
# credentials
#credentials.js
# log
package-lock.json
#*.log
#*.lock

#config
configuration.js
configurationdev.js
configurationbot.js

config.ts
config.js

config.dev.ts
config.dev.js

config.prod.ts
config.prod.js

ignore